<?xml version='1.0'?>
<config
	xmlns:xsi='http://www.w3.org/2001/XMLSchema-instance'
	xsi:noNamespaceSchemaLocation='urn:magento:framework:Module/etc/module.xsd'
>
	<module name='Tingle_Core' setup_version='0.0.1'>
		<!-- 2020-01-12 https://www.upwork.com/ab/f/contracts/23508657
		@see view/frontend/requirejs-config.js -->
		<sequence><module name='Magento_Checkout'/></sequence>
	</module>
</config>